@page "/expedientes/ver/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject CasoDeUsoUsuarioConsultaId ConsultaUsuario
@inject CasoDeUsoExpedienteConsultaId ConsultaExpediente
<PageTitle>SGE | Expedientes</PageTitle>

<div class="container">
    <h2 id="heading">Expediente #@_e.Id</h2>
    <div class="form">
        <div class="caratula-container">
            <label for="caratula">Carátula</label>
            <input class="input" readonly type="text" id="caratula" value="@_e.Caratula" />
        </div>
        <div>
            <label for="estado">Estado</label>
            <input readonly class="input" type="text" id="estado" value="@_e.Estado" /> 
        </div>
        <div>
            <label for="creacion">Fecha de creación</label>
            <input readonly class="input" type="text" id="creacion" value="@_e.FechayHoraCr" />
        </div>
        <div>
            <label for="usuario">Usuario de última modificación</label>
            <input readonly class="input" type="text" id="usuario" value="@GetName()" />
        </div>
        <div>
            <label for="modificacion">Fecha de última modificación</label>
            <input readonly class="input" type="text" id="modificacion" value="@_e.FechayHoraMod" />
        </div>
        <div class="div-btn">
            <button @onclick="Editar" class="button" type="button">Editar</button>
            <button @onclick="VerTramites" class="button gris" type="button">Ver trámites</button>
        </div>

    </div>
</div>
<CuadroDialogo @ref=_dialogo Mensaje=@_error />

@code {
    [Parameter] public int Id { get; set; }
    string _error = "";
    Expediente _e = new();
    CuadroDialogo _dialogo = null!;

    void Editar() => Navigation.NavigateTo($"expedientes/editar/{_e.Id}");
    void VerTramites() => Navigation.NavigateTo($"tramites/exp/{_e.Id}");
    string GetName()
    {
        try
        {
            return ConsultaUsuario.Ejecutar(_e.IdUser).NombreCompleto;
        }
        catch
        {
            return "Usuario no encontrado";
        }
    }

    protected override void OnInitialized()
    {
        try
        {
            _e = ConsultaExpediente.Ejecutar(Id);
        }
        catch
        {
            Navigation.NavigateTo("expedientes");
        }
    }
}

<style>
    .container {
        background-color: #1f2937;
        max-width: 42rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 2rem;
        border-radius: 10px;
    }

    #heading {
        text-align: center;
        margin: 2rem;
        font-size: 1.2em;
    }

    .form {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    label {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .caratula-container {
        grid-column: span 2 / span 2;
    }

    .input {
        display: block;
        background-color: rgb(55 65 81);
        border: none;
        border-radius: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0.625rem;
        outline: none;
        width: 100%;
        color: #d3d3d3;
    }

    .div-btn {
        display: flex;
        justify-content: space-between;
        grid-column: span 2 / span 2;
    }

    .button {
        padding: 0.5em;
        padding-left: 1.1em;
        padding-right: 1.1em;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #2563EB;
        color: white;
    }

    .gris {
        background-color: #6C757D;
    }
</style>
